
body{
    display: flex;
    flex-direction: column;
}
#page{
    display: flex;
    flex-direction: column;
   /* justify-content: center;
    align-items: center;
    */
    height: 90vh;
    padding-left: 20px;
    padding-right: 20px;
    
}
/*
nav bar
*/
nav{
   background-color: #FFF59B;
    height: 10vh; 
    padding-left: 20px;
    padding-right: 20px;
    
}
a{
    color: black;

}
#navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;  
}
#nav-connection{
    display: flex;
}
#connection{
    margin-right: 10px;
}


#connection-box{
    
    position: absolute;
    height: 500px;
    width: 500px;
    margin: auto;
    left: 0;
    right: 0;
    top:0;
    bottom:0;
}
#menu{
    display: flex;
}
#error{
    color: red;
}
#form{
    
    border: 1px solid rgb(104, 104, 104);
    height: 100%;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.menu-item{
    margin-right:10px ;
}
form input[type=text]{
    width: 300px;
}

form input[type=submit]{
    border: none;
    background-color: white;

}
#form h2{
   
    margin-bottom: 35px;
}
/*
item-page
*/
#item-page{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center; 
    
    width: 80%;
    height: 90vh;
    
    
}
#call-me-box{
    display: none;
}
#item-page img{
    height: 40vh;  
}

#item-img-description{
    display: flex;
   justify-content: space-between;
   width: 100%;
   
  
}
#item-info{
    margin-top: 20px;
    align-self:flex-start;
    justify-self: center;
   
}
#item-description{
    margin-left: 10vh;
    width: 50%;
}
#item-show-interest{
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFF59B;
    height:10px
    
}
#item-show-interest p{
   
    padding-left: 10px;
    padding-right: 10px;
}
#add-iterest-pop-up{
    display: none;
    position:absolute;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 60vh;
    background-color: antiquewhite;
}
/*
home page
*/
#home-page{
    align-items: center;
    align-self: center;
    width: 70%;
    height: 90vh;
}
#home-page-navigation h2{
    margin-left: -5vh;
}
#all-recent-item{
    display: inline-flex;
    justify-content:start;
   
    flex-wrap:wrap;
    gap: 3%;
}

.home-page-item-description{
    font-size: 0.5em;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.home-page-item-image{
    width: 100%;
    height: 70%;
}

.home-page-item-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.item-box{
    width: calc(81%/4);
    height: 22vh;
    margin-top: 3%;
    box-shadow: 2px 5px 5px rgb(109, 109, 109);
    cursor: pointer;
    
}
/*
add-item-page
*/

#add-item-page{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center; 
    width: 80%;
    height: 90vh;
}
#add-item-page input,select{
    width: 300px;
    height: 40px;
    
}
#add-new-interest{
    margin-left: 10px;
    cursor: pointer;
}
#add-item-pop-up{
    display: none;
    position:absolute;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 60vh;
    background-color: antiquewhite;
}
#add-item-pop-up-confim{
    display: none;
    position:absolute;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 60vh;
    background-color: antiquewhite;
}
#add-item-page label{
    margin-top: 20px;
}
#itemDescription{
    height: 100px !important;
}

#add-item-form{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    
    
    
}
#add-item-page form input{
    width: 400px;
    
}
.add-item-iputs{
    width: 400px;
}

#select-box{
    display: flex;
}

#cancel-add{
    display: flex;
    align-self: center;
    justify-self: center;
    padding-top: 20px;
}

#addItemButton{
    margin-left: 10px;
}
#add-item-type,#cancel-add-item-type{
    margin-top:50px;
    width: 100px !important;
}

/*
    register
*/

#register-page{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center; 
    width: 80%;
    height: 90vh;
}
#register-page input{
    width: 300px;
    height: 50px;
    margin: 3px;
}
#register-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#register-form{
    display: flex;
    flex-direction: column;
   
    justify-content: center;   
}
#register-page #register-pop-up{
    display: none;
    flex-direction: column;
    position:absolute;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 60vh;
    background-color: antiquewhite;
}

#user-decision{
    align-self: center;
    justify-self: center;
    
}

#form-button-box{
    display: flex;
    justify-content: center;
}
/*
    user Hander page
*/

#user-handler-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    width: 991px;

    
}
#switch-list-users{
    width: 100%;  
    padding-bottom: 2vh;
    padding-top: 10vh;
  
}
.user-to-handle{
    display: flex;
    width: 100%;
    border: 0.5px solid black;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    cursor:pointer;
}
.is-admin-box{
   text-align: center;
}

#password {
    width: 300px;
}
#form-button-box{
    border:solid 1px black;
    border-radius: 10px;
}
#add-reason-refusal{
    display: none;
    position:absolute;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 60vh;
    background-color: antiquewhite;
}

#user-handler-list{
    width: 100%;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: solid 1px black;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  #in-toggle-list-user{
    width: 991px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    height: 4vh;
    justify-content: end;
  }
  #text-state-list-user{
    text-align: center;
    line-height: 28px;
    padding-right: 20px;
}
#state-user-handler {
    border: solid;
    border-radius: 100px;
    height: 32px;
    width: 176px;
}
#member-list-checkbox-in{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 10px;
}
#container-research-member-list{
    display: flex;
  
}
#container-research-member-list input
{
    width: 200px;
    border: solid 1px grey;
    border-radius: 2px 0px 0px 2px;
}
#container-i-member-list{
    height: 100%;
    padding-left: 2px;
    padding-top: 3px;
    width: 36px;
    border: solid 1px grey;
    text-align: center;
    border-radius: 0px 2px 2px 0px; 
}
.checkbox-member-list{
    padding-right: 5px;
}